node_modules
sessions/*
!sessions/.gitkeep
*.log
.DS_Store
.vscode
/dist
/.idea
/backend/node_modules
/frontend/node_modules
/database/*.db-journal
/database/backups
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
/frontend/dist
/backend/.cache
